@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #B11F24;    /* Brand Red */
  --color-secondary: #F3F4F6;  /* Dark Contrast */
  --color-base-100: #FFFFFF;   /* Pure White Background */
  --color-base-content: #1A1A1A; /* Dark Text */
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #B11F24;    /* Brand Red */
  --color-secondary: #F3F4F6;  /* Light Grey Accents */
  --color-base-100: #0F0F0F;   /* Deep Black Background */
  --color-base-content: #FFFFFF; /* White Text */
}



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));